* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  color: #333;
  /* overflow: hidden; */
}
html {
  font-size: 62.5%;
  /* overflow: hidden; */
}
li {
  list-style: none;
}

.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  padding: 3.2rem 4.8rem;
}

.grid--center--x {
  justify-items: center;
}

.grid--col--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--col--4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid--col--3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn,
.btn:link {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  border-radius: 9px;
  text-align: center;
}

.btn-transition {
  transition: all 0.3s;
}

.link-transition:link,
.link-transition,
.link-transition:visited {
  transition: all 0.3s;
}

.main-nav-link.unq.btn-transition:hover,
.main-nav-link.unq.btn-transition:active {
  background-color: #cf711f;
}
.main-nav-link.btn-transition:hover,
.main-nav-link.btn-transition:active {
  color: #cf711f;
}

.btn.btn--full.btn-transition:hover,
.btn.btn--full.btn-transition:active {
  background-color: #cf711f;
}
.recipes-box a:hover,
.recipes-box a:active {
  transition: all 0.3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.btn.btn--outline.btn-transition:hover,
.btn.btn--outline.btn-transition:active {
  /* border: 2px solid #fff; */
  box-shadow: 0px 0px 0px 3px #fff;
  background-color: #fdf2e9;
}
.meal:hover,
.meal:active {
  transform: translate(0, -3%);
  box-shadow: 0px 3.2rem 6.4rem rgb(0, 0, 0, 0.06);
}
.btn.btn--form.btn-transition:hover,
.btn.btn--form.btn-transition:active {
  background-color: #fff;
  color: #333;
}
.gallery-item img:hover,
.gallery-item img:active {
  transform: scale(1.1);
}

input,
select {
  outline: none;
}
input:focus,
select:focus {
  box-shadow: 0px 0px 0px 0.8rem #fdf2e971;
}
.footer-link {
  transition: all 0.3s;
}
.footer-link:hover {
  color: #333;
}
